.ui.wrapper {
	margin: 2rem 0;
}

.ui.form {
	overflow: hidden;
}

.posts .label {
	float: right;
}

.ui.feed .event {
	margin: 1rem 0;
}

/*.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 2em;
	margin: 2em 0 3em;
	color: indigo;
}

.sidebar {
	float: left;
	width: 30%;
}

.feed {
	float: right;
	width: 70%;
}

.fields {
	width: 50%;
	display: block;
	margin: 0 auto;
}

textarea {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	box-sizing: border-box;
}

button {
	float: right;
}

.sidebar h3 {
	font-size: 1.4em;
	color: red;
	margin-bottom: 0.5em;
	margin-top: 0.2em;
}

.profile {
	margin-bottom: 2em;
	border-bottom: 3px solid indigo;
	padding-bottom: 2em;
}

.profile p {
	font-weight: 700;
	margin-bottom: 0.2;
}

.posts {
	list-style: none;
	clear: both;
	padding: 1em;
}

.posts li {
	padding: 1em;
	box-shadow: 0 1px 2px #ccc;
	margin-bottom: 1em;
	background-color: #CACACA;
}

.posts li p {
	margin-top: 1em;
}

.posts li h6 {
	font-size: 0.6em;
	font-weight: 300;
	line-height: 1.5em;
	color: #999;
}

.posts li h4 {
	color: indigo;
}

.posts li h4:before {
	content: "@"
}

.posts li:hover {
	transform: scale(1.1);
	transition: all 0.3s ease;
	box-shadow: 0 5px 5px #faf;
}

.warning {
    color: red;
}*/
